.ratings-panel{
  text-align:start;
  box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0,0.22);

  padding: 10px;
}

.ratings-panel h1 {
color: #999999;
font-family: arial, sans-serif;
font-size: 16px;
font-weight:500;
margin-top: 0px;
margin-bottom: 1px;
}

.ratings-panel h5{
  padding: 0px;
  margin: 0px;
  display: inline;
  text-decoration: underline;
  color: #999999;
}
.ratings-panel p {
  color: #999999;
}

.avg-rating{
  font-size: 50px;
  font-weight: bold;
  color: rgb(65, 65, 65);
}
.star-rating{
  vertical-align:top;
}
.avg-star-ratings{
  padding: 0px 0px 40px 0px;
}
.avg-star-ratings li{
  text-align: center;
  list-style: none;
  padding: 5px 0px 0px 0px;
}
.avg-trait-ratings li{
  list-style: none;
}

.star-bar{
text-align:left;
background: #353b48;
display: inline-block;
height: 10px;
width: 245px;
box-shadow: 0 14px 28px rgba(0,0,0, 0.15), 0 10px 10px rgba(0,0,0,0.10);
overflow: hidden;
}

.star5 {
  display: inline-block;
  height: 18px;
  width: var(--rating);
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
}
.star4 {
  display: inline-block;
  height: 18px;
  width: var(--rating);
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
}
.star3 {
  display: inline-block;
  height: 18px;
  width: var(--rating);
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
}
.star2 {
  display: inline-block;
  height: 18px;
  width: var(--rating);
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
}
.star1 {
  display: inline-block;
  height: 18px;
  width: var(--rating);
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
}

.trait-rating {

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0px;
}
.scale {
  margin: 0 10px 0 0px;
  width: 50px;
  height: 10px;
  background: #f9f9fa;
  box-shadow: 0 14px 28px rgba(0,0,0, 0.5), 0 10px 10px rgba(0,0,0,0.35);
}