hr {
	border: 0;
	border-top: 1px solid #6b6b6c;
}

.review{
  text-align: start;
}

.review-rating{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.review-title{
  margin-top: 10px;
  word-wrap: break-word;
}

.review-checkmark{
  color:rgb(20,175,3);
}
.review-underline{
  text-decoration: underline;
}