section {
  text-align: start;
}
.itemDetails-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.itemDetails.category {
  font-size: larger;
}

.itemDetails.name {
  font-size: x-large;
}
.itemDetails.price {
  font-size:large;
  font-weight: 300;
}
.itemDetails.price.sale{
  padding: 10px;
  text-decoration: line-through;
  text-decoration-color: rgb(107, 105, 105);
  text-decoration-thickness: 3px;
  color:rgb(197, 205, 205);
}
.itemDetails.style-name{
  font-size: medium;
}
