.column {
  display: flex;
  flex-wrap: wrap;
}

.styleSelector-container{
  padding-top: 10px;
  padding-bottom: 10px;
}

.style-thumbnail  {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1.0;
  filter: alpha(opacity=100);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center ;
  padding: 3px;
  position: relative;
  transition: 0.3s ease-in;
}

.style-thumbnail:hover {
  opacity: .6;
  background-color: rgb(145, 35, 128);
}

.style-thumbnail.active {
  border: 2px solid rgb(218, 54, 193);
  background-color: rgb(255, 252, 252);
  width: 55px;
  height: 55px;
}
.style-thumbnail.active:hover {
  opacity: 0.9;
}

.thumbnail-container {
  position: relative;
  padding: 1px;
}
.checkMark {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 15px;
    color: rgb(8, 84, 8);
    background-color: white;
    border-radius: 50%;
    box-shadow: .10em .10em 1px 1px rgb(79, 67, 67);
}