.overview {
  // flex-wrap: wrap;
  // background-color: #282c34;
  // min-height: 800px;
  // display: flex;
  // align-items:flex-start;
  // justify-content:center;
  // min-width: 90vw;
  // padding-top: 50px;
  // color: white;
  display: grid;
  grid-template-columns: .6fr 1.4fr 1fr;
  grid-template-rows: 1.9fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    ". carousel-wrapper infoPanel"
    ". description-footer description-footer";

}

.carousel-wrapper {
  grid-area: carousel-wrapper;

}

.infoPanel {
  grid-area: infoPanel;
  padding-left: 30px;
  color: white;
}

.description-footer{
  grid-area: description-footer;

}